*{
    box-sizing: border-box;
}

/* exo 5a */

#container1 {
    position: relative;
    border: 1px solid black;
    width: 40vw;
    height: 40vw;
    margin: 50px auto;
    padding: 1.5vw;
    background-color: #a1bee2;
}

.carre {
    position: relative;
    border: 1px solid black;
    width: 15.5vw;
    height: 15.5vw;
    margin: 1.5vw;
}

#c1{
    background-color: rgb(132, 214, 132);
}

#c2{
    left: 18.5vw;
    top: -17vw;
    background-color: blue;
}

#c3{
    top: -15.5vw;
    background-color: rgb(255, 115, 0);
}

#c4{
    left: 18.5vw;
    top: -32.5vw;
    background-color: yellow;
}

/* exo 5b */


.carre1 {
    position: absolute;
    border: 1px solid black;
    width: 15.5vw;
    height: 15.5vw;
    margin: 1.5vw;
}

#c5{
    background-color: rgb(132, 214, 132);
}

#c6{
    top: 1.5vw;
    left: 20vw;
    background-color: blue;
}

#c7{
    top: 20vw;
    left: 1.5vw;
    background-color: rgb(255, 115, 0);
}

#c8{
    top: 20vw;
    left: 20vw;
    background-color: yellow;
}

/* exo 6 */

#c9{
    top: 4.5vw;
    left: 4.5vw;
    z-index: 2;
    background-color: rgba(0, 0, 255, 0.397);
}

#c10{
    top: 17vw;
    left: 17vw;
    z-index: 1;
    background-color: rgb(255, 115, 0);
}


